body {
    padding: 20px;
    font-family: monospace;
}

main {
    max-width: 530px;
}

pre.title {
    background-color: #fff;
    border: none;
    margin: 0;
}

h1 {
    font-size: 1em;
    text-align: center;
    margin: 2em 0;
}

h2,
h3 {
    font-size: 1em;
    margin-top: 2em;
}

h3 {
    color: #666;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}

pre {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1em 0;
    margin: 2em 0;
    overflow-x: scroll;
}


@media (max-width: 540px) {
    body {
        max-width: 100%;
    }
}